mat-tab {
    height: 100%;
    background-color: #f5f5f5;
}

.action-buttons-container {
    position: relative;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.action-buttons button {
    float: right;
}
@media screen and (min-width: 600px){
    .game-view-container {
        width: 600px;
        margin: auto;
    }
}
