<div class="root-container">
    <div class="player-info">
        <span>Player: {{currentPlayer}}</span>
        <span>Score: {{currentScore}}</span>
    </div>
    <div class="shoot-details">
        <div class="shoot-container">
            <app-shoot [shootLabel]="'Move 1'" [id]="1" (scoreChanged)="onScoreChanged($event)"></app-shoot>
            <app-shoot [shootLabel]="'Move 2'" [id]="2" (scoreChanged)="onScoreChanged($event)"></app-shoot>
            <app-shoot [shootLabel]="'Move 3'" [id]="3" (scoreChanged)="onScoreChanged($event)"></app-shoot>
        </div>
    </div>
    <div class="shoot-controls">
        <button mat-flat-button color="primary">Next</button>
        <button mat-flat-button color="warn">Clear</button>
    </div>
</div>
