@media (max-width: 600px) {
    .shootDetails {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .shootDetails .mat-form-field {
        width: 100%;
    }

    .shootDetails button {
        margin-left: 5px;
        height: 35px;
    }
}
