<div class="board-component">
    <div class="shoot-values-container">
        <mat-chip-list #chipList>
            <mat-chip [color]="'primary'"
                      *ngFor="let shoot of shoots;let i = index;"
                      [selectable]="selectable"
                      (removed)="removeShoot(i)">
                {{shoot}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </div>
    <div class="board-selector">
        <mat-card class="result">
            <mat-card-content>
                <section class="board-selector-section">
                    <mat-slide-toggle
                        class="board-selector-margin"
                        [checked]="isFullBoard"
                        (toggleChange)="changeBoardStyle()">
                        {{boardStyle}}
                    </mat-slide-toggle>
                </section>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="shoot-details">
        <div class="shoot-container">
            <ng-template app-board-component></ng-template>
        </div>
    </div>
</div>
