.shoot-values-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mat-card {
    margin-bottom: 5px;
    padding: 8px;
    background-color: #f2f2f2;
}

.action-buttons-container {
    position: relative;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.action-buttons button {
    float: right;
}
